@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');



:root {
  
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  
  --clr-primary-5: hsl(205, 78%, 60%);
  
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}


:root {

 

  --british-racing-green: hsl(144, 45%, 19%);
  --phthalo-green-1: hsl(143, 54%, 9%);
  --phthalo-green-2: hsl(144, 51%, 15%);
  --phthalo-green-3: hsl(144, 54%, 11%);
  --phthalo-green_30: hsla(144, 51%, 15%, 0.3);
  --morning-blue: hsl(143, 11%, 58%);
  --satin-sheen-gold: hsl(49, 54%, 43%);
  --vegas-gold: hsl(48, 40%, 51%);
  --medium-champagne: hsl(49, 63%, 81%);
  --baby-powder: hsl(51, 33%, 96%);
  --light-gray: hsl(0, 0%, 80%);
  --white_10: hsl(0, 0%, 100%, 0.1);
  --white: hsl(0, 0%, 100%);
  --black_50: hsla(0, 0%, 0%, 0.5);


  --gradient-1: linear-gradient(180deg, hsla(137, 40%, 12%, 0) 47%, hsla(137, 40%, 12%, 0.89) 96%);

 
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
  background-color: var(--phthalo-green-1);
  color: yellow;
  line-height: 1.5;
  font-size: 0.875rem;
  min-height: 70vh;
 background-size: cover;
 overflow-x: hidden;
}


html::-webkit-scrollbar{
  width: 0.5rem;
}
html::-webkit-scrollbar-thumb{
  background: transparent;
}
html::-webkit-scrollbar-track{
background: white;
border-radius: 5rem;
}

.container20{
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
.header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* background: rgb(0, 54, 75); */
  box-shadow: white;
  z-index: 10;
}
.header .container20{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  vertical-align: middle;
}
.header .menu .head{
  display: none;
}
.header .menu ul{
  list-style: none;
}
.header .menu > ul > li{
  display: inline-block;
}
.header .menu > ul > li:not(:last-child){
  margin-right: 40px;
}
.header .menu a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: white;
  line-height: 1.5;
  display: block;
}
.header .menu > ul > li > a{
  padding: 24px 0;
}
.header .menu .dropdown{
  position: relative;
}
@media(min-width:991px){
.header .menu > ul > .dropdown > a{
  padding: 15px;
}
}
.header .menu i{
  font-size: 10px;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: wheat;
  top: calc(50% - 5px);
}
.header .menu > ul > li > i{
  right: 0;
} 
.header .menu .submenu{
  position: absolute;
  top: 100%;
  left: 0;
  width: 230px;
  padding: 15px 0;
  background-color: var(--phthalo-green-3);
  box-shadow: 0 0 5px white;
  z-index: 1;
  transform-origin: top;
  transform: scaleY(0);
  visibility: hidden;
  opacity: 0;
}
.header .menu li:hover > .submenu{
  opacity: 1;
  transform: none;
  visibility: visible;
  transition: all 0.5s ease;
}
.header .menu .submenu a{
  padding: 6px 24px;
}
.header .menu .submenu .dropdown > a{
  padding-right: 34px;
}
.header .menu .submenu span{
  background-image: linear-gradient(rgb(229, 229, 244),rgb(249, 251, 253));
  background-size: 0 1px;
  background-repeat: no-repeat;
  background-position: 0 100%;
  transition: background-size 0.5s ease;
}
.header .menu .submenu li:hover > a > span{
  background-size: 100% 1px;
}
.header .menu .submenu i{
  transform: rotate(-90deg);
  right: 24px;
}
.header .menu .sub-menu-right{
  left: 100%;
  top: 0;
}
.header-right .open-menu-btn{
  display: none;
}
.logo2{
  font-size: 18px;
  color: white;
  text-decoration: none;
}
.action_btn{
  background-color: whitesmoke;
  color:  rgb(6, 105, 122);
  padding: 0.7rem 1.2rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 800;
  cursor: pointer;
  transition: scale 0.2 ease;
  text-decoration: none;
}
.action_btn:hover{
  scale: 1.05;
  background-color: rgb(185, 251, 251);
}
.action_btn:active{
  scale: 0.95;
}

.social-icons {
  display: none;
}


@media(max-width:991px){
  .header{
      padding: 12px 0;
  }
 .action_btn{
  display: none;
 }
 .social-icons {
  display: inline-block;
  padding: 15px;
}

  .social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: rgb(229, 233, 234);
  transition: 5s;
}
.social-icons a:hover {
  color: rgb(7, 162, 173);
}
  .header .menu{
      position: fixed;
      right: 0;
      top: 0;
      width: 320px;
      height: 100%;
      background-color: var(--phthalo-green-1);
      /* backdrop-filter: blur(15px);
      background: transparent; */
      padding: 15px 30px 30px;
      overflow-y: auto;
      z-index: 1;
      transform: translateX(100%);
  }
  .header .menu.open{
      transform: none;
  }
  .header .menu .head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;
  }
  .header .menu .close-menu-btn{
      height: 35px;
      width: 35px;
      position: relative;
      display: inline-flex;
      justify-content: center;
      background-color: transparent;
      cursor: pointer;
      border: none;
  }
   .header .menu .close-menu-btn::before,
   .header .menu .close-menu-btn::after{
      content: '';
      position: absolute;
      width: 80%;
      height: 2px;
      background-color: white;
   }
   .header .menu .close-menu-btn::before{
      transform: rotate(45deg);
   }
   .header .menu .close-menu-btn::after{
      transform: rotate(-45deg);
   }
   .header .menu > ul > li{
      display: block;
   }
   .header .menu > ul > li:not(:last-child){
      margin-right: 0;
   }
   /* .header .menu li{
      border-bottom: 1px solid white;
   }
   .header .menu li:first-child{
      border-top: 1px solid white;
   } */
   .header .menu > ul > li > a{
      padding: 12px 0;
   }
   .header .menu > ul > li .dropdown > a{
      padding: 34px;
   } 
   .header .menu i{
      height: 34px;
      width: 34px;
      border: 1px solid blanchedalmond;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      pointer-events: auto;
      cursor: pointer;
      top: 7px; 
   }
   .header .menu .submenu{
      position: static;
      opacity: 1;
      transform: none;
      visibility: visible;
      padding: 0;
      transition: none;
      box-shadow: none;
      width: 100%;   
      display: none; 
   }
 
   .header .menu .submenu li:last-child{
      border: none;
   }
   .header .menu .submenu a{
      padding: 12px 0 12px 15px;
   }
   .header .menu .submenu .submenu a{
      padding-left: 30px;
   }
   .header .menu .submenu .submenu .submenu a{
      padding-left: 45px;
   }
   .header .menu .submenu span{
      background-image: none;
   }
   .header .menu .submenu i{
      transform: none;
      right: 0;
   }
   .header-right .open-menu-btn{
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 44px;
      cursor: pointer;
      position: relative;
      background-color: transparent;
      border: none;
   }
   .header-right .open-menu-btn .line{
      height: 2px;
      width: 30px;
      background-color: white;
      position: absolute;
 
   }
   @keyframes bounce {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
  }
   .header-right .open-menu-btn .line-1{
      transform: translateY(-8px);
   }
   .header-right .open-menu-btn  .line-3{
      transform: translateY(8px);
   }
  .header .menu .dropdown.active > i{
      background-color: white;
      transform: rotate(180deg);
  }
  .header .menu .dropdown.dropdown.active > .submenu{
      display: block;
  }
  .contact4{
    display: none;
  }
}
.soc-icons{
    padding: 10px 0px;
  }
  
  
  
  @media (min-width: 660px){
    .soc-icons{
      display: none;
    }
  
    
    
  }
.contain{
  height:100vh;
  width: 100%;
  /* background:   linear-gradient(rgba(2, 168, 60, 0.5), rgb(3, 84, 5)),   
  url(../pictures/pexels-newmanphotographs-14831744.jpg) center/cover no-repeat; */
  background-size: cover; 
  background-position: center;
  width: 100%;
  padding: 0.8% 2%;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
a:hover{
  color: rgb(140, 174, 188);
}
header{
  position: relative;
  padding: 0 1rem;
  z-index: 1000;
}

nav {
  padding: 0.5rem 2.2rem;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:  
var(--phthalo-green-2);
  height: 5.2rem;
}


.fixed-nav .links a:hover {
  color: rgb(0, 54, 75);
  background-color: whitesmoke;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.links-container {
  height: 0;
  overflow: hidden;
  transition: 1s;
}
.show-links {
  height: 200px;
}



@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: rgb(140, 180, 208);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    transition: 1s  ;
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }

  }


@media screen and (max-width: 800px) {
  .fixed-nav{
    height: 4.2rem;
  }
  .logo2{
    font-size: 18px;
  }
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: var(--phthalo-green-1);
    /* overflow: hidden; */
    font-family: 'Outfit';
}
.text-read{
    padding: 80px 50px;
}
.text-read p{
    padding: 10px;
    font-size: 20px;
    color: white;
}
.text-read ion-icon {
    flex-shrink: 0;
    font-size: 22px;
    color: var(--satin-sheen-gold);
  }
  .text-read h1{
  text-align: center;
  color: wheat;
  font-size: 25px;
}
  @media screen and (max-width: 800px) {
    .text-read{
        padding: 45px 20px;
    }
  }


  
  .heading{
    text-align: center;
  }.heading h1{
    font-size: 1.7rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #5c6c1e;
  }.span2{
    padding: 1rem 1.9rem;

    color: white;
    font-weight: 500;
    display: inline-block; 
    text-transform: uppercase;
    border: 2px solid yellow;
    border-radius: 10px;
    clip-path: polygon(100% 0, 93% 50%, 86% 99%, 0% 100%, 7% 47%, 13% 0%);
    overflow: hidden;
  }